@import "tailwindcss";

:root {
  --background: #0f172a;
  /* slate-900 */
  --foreground: #f8fafc;
  /* slate-50 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}